#headerperscar .headerperscar{
    background-color: #03cafc;
    box-shadow: 0.5px 0.5px 5px 5px rgba(0, 0, 0, 0.3);
    position: inherit;
}

#Carritopersbody{
    padding: 110px 0 110px 0;
    background: 
    linear-gradient(217deg, rgb(71, 190, 219), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(82, 118, 184, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(5, 0, 75, 0.8), rgba(0,0,255,0) 70.71%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logop{
    color: rgba(0, 0, 0, 0.7);
    font-size: 3rem;
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
}

#Carritopersbody .carritocont{
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    color: #fff;
    flex-direction: column;
}

#Carritopersbody .pequeñocontenedor{
    color: #000;
    font-weight: bold;
    margin-top: 20px;
    height: 45vh;
    width: 95vh;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 35px;
    box-shadow: -0.5px -0.5px 4px 4px rgba(194, 194, 194, 0.5);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#Carritopersbody .titulocompra{
    font-weight: bold;
    font-size: 3vh;
}

#Carritopersbody .labelcar{
    font-size: 1.5vh;
}

#Carritopersbody .fieldscar{
    height: 1vh;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 20px;
    width: 250px;
    padding: 10px;
}

#Carritopersbody .fieldscar:hover{
    border: none;
    border-bottom: 1px solid #000000;
}

#Carritopersbody .imgdetalle{
    width: 45vh;
    height: 30vh;
    border-radius: 20px;
}

#Carritopersbody .titulocompra{
    color: #fff;
}

#Carritopersbody .divtot{
    margin:15px;
    display:flex; 
    flex-direction: row;
}

#Carritopersbody .btnagrcar{
    margin-left: 15vh;
}

#totalpago{
    margin-left: 5px;
}

#Carritopersbody .contboton{
    width: 100%;
}

#Carritopersbody .btnagrcar{
    margin-left: 30vh;
    background-color: #06b600;
    border: none;
}

.detalles{
    min-width: 150px;
    min-height: 250px;
}

@media (max-height: 900px) {
    #Carritopersbody .carritocont {
      height: 500px;
      min-width: 850px;
      min-height: 300px;
      font-size: 20px;
    }
    .producto-imagen .prodimg {
      display: none;
    }

    #Carritopersbody .labelcar{
        font-size: 13px;
        margin: 0;
    }
    
    #Carritopersbody .fieldscar{
        height: 20px;
        border: none;
        border-bottom: 1px solid #b3b3b3;
        margin-bottom: 5px;
        width: 250px;
        padding: 0;
        font-size: 10px;
    }
    
    #Carritopersbody .imgdetalle{
        width: 400px;
        height: 250px;
        border-radius: 20px;
    }
    
    #Carritopersbody .divtot{
        margin:15px;
        display:flex; 
        flex-direction: row;
    }
    
    #Carritopersbody .btnagrcar{
        margin-left: 15vh;
    }
    
    #totalpago{
        margin-left: 5px;
    }
    
    #Carritopersbody .contboton{
        width: 100%;
    }
    
    #Carritopersbody .btnagrcar{
        margin-left: 30vh;
        background-color: #06b600;
        border: none;
    }

    #Carritopersbody .pequeñocontenedor{
        font-weight: bold;
        margin-top: 10px;
        height: 400px;
        width: 800px;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        padding: 35px;
        box-shadow: -0.5px -0.5px 4px 4px rgba(194, 194, 194, 0.5);
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    
  }

@media (max-width:1200px){
    .about .formpers{
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;    
    }
}
